footer#document-footer
    @include media-breakpoint-up(desktop)
        .footer-legals
            display: flex
            .nav-legal
                margin-right: $spacing-3
            .footer-credit
                margin-top: 0